#main {
    width: 100%;
    height: auto;

    border: 3px solid #000000;
    outline: 3px solid #ffffff; 
}

#text {
    font-family: 'Times New Roman', Arial;
    font-variant: normal;
    vertical-align: baseline;
    text-align: center;
    color: #ffffff;
    display: none;
}

#captcha {
    width: 25%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.c {
    width: min(80vw, 106.67vh);
    height: min(80vh, 60vw);
    aspect-ratio: 4 / 3;
    margin: auto;
    position: relative;

}

