#main {
    width: 100%;
    height: auto;

    border: 3px solid #000000;
    outline: 3px solid #ffffff; 
}

#text {
    font-family: 'Times New Roman', Arial;
    font-variant: normal;
    vertical-align: baseline;
    text-align: center;
    color: #ffffff;
}

#captcha {
    width: 25%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.c {
    width: 60%;
    height: 0;
    padding-bottom: 45%; 
    margin: 0 auto;
    position: relative;
}